/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/

body {
	max-width: 1440px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background: #FFFEF8;
	line-height: 1;
}

main {
	margin: 0 245px;
}

header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0
}

header h1 {
	margin-left: 150px;
}

header :nth-child(1) {
	order: 2;
}

header :nth-child(2) {
	order: 3;
}

header :nth-child(3) {
	order: 1;
}

.edit-mode {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 21px;
	width: 100%;
	height: 59px;
	background-color: #000000;
	margin-right: auto;
	margin-bottom: 38px;
}

.edit-mode :nth-child(1) {
	display: flex;
	flex-direction: row-reverse;
	gap: 9px;
	color: #FFFFFF;
	background-color: #000000;
	border: none;
	font-size: 16px;
}

.edit-mode :nth-child(2) {
	width: 216px;
	height: 38px;
	background-color: #FFFFFF;
	border-radius: 60px;
	border: none;
	font-size: 14px;
	font-weight: 500;
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	list-style-type: none;
	margin-right: 150px;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav img {
	width: 19.36px;
	height: 19.36px;
	margin-top: 3px;
}

.login-btn, .login-btn:visited {
	color: #000000;
	text-decoration: none;
}

li:hover, .login-btn:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	margin-right: 72px;
	width: 474px;
	height: 355px;
}

#introduction article {
	flex: 1;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
}

#introduction h2 {
	margin: 1em 0;
}

#introduction p {
	width: 404px;
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.filters {
	display: none;
	justify-content: center;
	gap: 10px;
	height: 58px;
	margin: 51px 0;
}

.filters button {
	height: 100%;
	border: 1px solid #1D6154;
	border-radius: 60px;
	color: #1D6154;
	background: #FFFEF8;
	font-size: 16px;
	font-weight: 700;
}

.filters .all-btn {
	padding: 9px 30px 9px 28px;
}

.filters .objects-btn {
	padding: 9px 22px 9px 20px;
}

.filters .apartments-btn {
	padding: 9px 15px 9px 14px;
}

.filters .hotels-and-restaurants-btn {
	padding: 9px 11px 9px 9px;
}

.filters button:hover {
	background: #1D6154;
	color: #FFFEF8;;
}

.projects-div {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 139px;
	margin-bottom: 92px;
	height: 36px;
}

.projects-div button, .intro-txt button, .intro-img button  {
	display: flex;
	flex-direction: row-reverse;
	gap: 8px;
	height: 16px;
	background-color: transparent;
	border: none;
	margin-left: 31px; 

	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
}

.intro-img button {
	margin: 15px 0 0 0;
}

.intro-txt button {
	margin: 0;
}

.intro-txt {
	margin-top: -50px;
	height: 100%;
}

.projects-div .my-projects {
	height: 100%;
}

#portfolio h2 {
	margin: 0;
}

.gallery img {
	width: 100%;
}

#contact {
	width: 50%;
	margin: auto;
}

#contact > * {
	text-align: center;

}

#contact h2{
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer {
	height: 60px;
	width: 100%;
	background: #FFFFFF;
}

footer nav ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	height: 100%;
	/* margin: 2em; */
}

footer nav ul li {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	padding: 20px 107px 24px 0;

}

/*  Login page */

.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 150px;
}

.login h2 {
	margin-bottom: 37px;
}

.login .e-mail p {
	margin-bottom: 7px;
}

.login .password p {
	margin-top: 30px;
	margin-bottom: 6px;
}

.login input {
	width: 379px;
	height: 51px;
}

.login .login-btn {
	margin-top: 47px;
}

.login .login-btn input {
	display: flex;
	align-items: center;
	width: 179px;
	height: 36px;
	border: none;
	border-radius: 60px;
	margin-top: 0;
}

.login .password-forgotten {
	color: #3D3D3D;
	margin-top: 28px;
	margin-bottom: 355px;
}

.login .password-forgotten {
	color: #3D3D3D;
}

/*     Modale     */

#overlay {
    width: 100%;
	height: 3259px;
    background: rgba(0,0,0,0.3);
    position: absolute;
    top: 59px;
    left: 0;
    z-index: 1;
 }

 .dialog {
	position: absolute;
	align-items: center;
	top: 630px;
	height: 731px;
	display: flex;
	width: 630px;
	height: 731px;
	background-color: #FFFFFF;
	border-radius: 10px;
	z-index: 2;
	padding: 0 105px;
 }

 .dialog .gallery {
	width: 100%;
	display: grid;
	justify-content: center;
	align-content: center;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 6px;
	grid-row-gap: 6px;
 }

 .dialog .gallery figure {
	width: 78.12px;
	height: 104.08px;
 }

 .dialog .gallery figure p {
	display: none;
 }